h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    text-shadow: 3px 3px  #999999;

}
body{
    background-color: bisque;
    margin-left: 25pt;
}

.button{
    font-weight: bold;
}


.confirm{
    font-style: italic;

}