<!DOCTYPE html>
<html>

<head>
</head>

<body class="text-center" >
  <h1 contenteditable="true">Welcome to My Page! I'm Uulen Usukhbayar.</h1>
  <div class="container">
    <img src="assets/conference/me.png" width="150">
    <dv class="card-block text-center card-primary p-2">
      <h2>Assignments</h2>
      <ul class="list-group list-group-flush">
        <li class="list-groupitem" style=""><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>Assignment 1 –&nbsp;<b contenteditable="true">Create your Page</b></li>
        <li class="list-group-item" style=""><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;Assignment 2 –&nbsp;<b>About me</b></li>
        <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>Assignment 3 –&nbsp;<b>Grade exercises</b></li>
        <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>Assignment 4 –&nbsp;<b>HTML&nbsp;</b></li>
        <li class="list-group-item" contenteditable="true"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>Assignment 5 –&nbsp;<b>Java Scripts</b></li>
        <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;Assignment 6 –&nbsp;<b>Decorate my text</b></li>
        <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>Assignment 7–&nbsp;<b>Modules and Closures</b></li>
        <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>Assignment 8 –&nbsp;<b>Mose Maze</b></li>
        <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>Assignment 9 –&nbsp;<b>Number Quiz Lab</b><b></b></li>
        <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>Assignment 10 –&nbsp;<b>Dictionary Project</b><b></b></li>
        <div class="py-5" style="">
          <div class="container">
            <h3>Maharashi International University</h3>
            <p class="text-muted">November entry 2020<br>uusukhbayar@miu.edu</p>
            <p class="my-3">1000 N 4th St, Fairfield, IA 52557</p>
        

</html>