body 
{
    margin:0;
    padding:0;
    background-repeat: repeat;
    background-image: url("https://raw.githubusercontent.com/uulen0201/CS472/main/Movie%20review/images/background.png");
	font-family: Verdana, Tahoma, sans-serif;
	font-size: 8pt;	
}

#Banner
{	  
    background-image: url("https://raw.githubusercontent.com/uulen0201/CS472/main/Movie%20review/images/bannerbg.png");
    background-repeat: repeat-x;
    text-align: center;
    align-items: center;
    height: 50px;
}

#MovieDesp
{
	font-size: 24pt;
    font-family:Tahoma, Verdana, sans-serif;
	text-align: center;
	font-weight: bold;
    text-shadow: 3px 3px #999999;
}

#ContentArea
{
    margin: auto;
	width: 800px;
	border: 4px solid grey;
	border-radius: 20px;
	position: relative;	
	overflow: hidden;
}

#LeftSection
{
    width:550px;
    border-top-left-radius: 15px;
    overflow:auto;
  
}

#Overview
{
    width:250px;
    float:right;
    background-color:#A2B964;
    border-top-right-radius: 15px;
}

#TextDesp
{
    font-family:"Arial";
    padding:10px;
    padding-top:0px;

}



.StyleBold
{
	font-weight: bold;
    padding-top:5px;
}


#RottenAlign
{
    background-image:url("https://raw.githubusercontent.com/uulen0201/CS472/main/Movie%20review/images/rbg.png");
    font-size: 48pt;
    color: red;
    font-weight: bold;
    height: 83px;
    vertical-align: bottom;
	
}

#RottenAlign img
{
    float: left;
    margin-right: 5px;
}

.ReviewColumn
{
    width: 47%;
    float: left;
    margin-left: 2%;
}

.Review
{
    font-size: 8pt;
    background-color: #E8DC9B;
    font-weight: bold;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 8px;
    overflow: hidden;
    position: relative;

}

.ReviewerInfo
{
    padding-top: 5px;
    padding-bottom: 20px;
    
}

.ReviewerInfo span
{
    font-style: italic;
}

#ReviewCounts
{
    background-color:#A2B964;
    padding:5px;
    position: absolute;
	bottom:-128px;
	width: 550px;
	text-align: center;
	
}
p img
{ 
	padding-right: 5px;
	float: left;
	
}

#Position
{
    position: fixed;
    right:0;
    bottom:0;
}

.Style
{
    opacity: 0.5;   
}


